
<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column">
<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui form'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :user_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.text_field :age, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :ソーシャルスタイル %><br />
    <%= f.select :socialstyle, options_for_select(["", "ドライバー", "エミアブル", "アナリティカル", "エクスプレッシブ"]), {}, { class: 'ui fluid dropdown' } %>
  </div>
  
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :facbook %><br />
    <%= f.text_field :facebook, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :qiita %><br />
    <%= f.text_field :qiita, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :teratail %><br />
    <%= f.text_field :teratail, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :git %><br />
    <%= f.text_field :git, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :blog %><br />
    <%= f.text_field :blog, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :プロフィール %><br />
    <%= f.text_area :profile, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワード %> <i>(6文字以上で入力してください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label :確認用パスワード %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
   <div class="field">
    <%= f.label :現在のパスワード %>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: :"fluid ui green submit button" %>
  </div>
<% end %>

<% if false %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>

    </div>
    <div class="column"></div>
  </div>
</div>
