
  <% if page == 1 %>
      <div class="search">
        検索結果 <%= projects.count %> 件
      </div><br>
  <% end %>

  <% projects.each do |project| %>

<div class="ui feed">

  <div class="event">
    <div class="label">
      <%= link_to project.user, class: "" do %>
        <%= image_tag(project.user.gravatar_url, :size => "25x25", :class => "ui avatar image") %>
      <% end %>
    </div>
    <div class="content">
      <div class="summary">
        <%= link_to "#{project.create_title.truncate(42)}", project %>
        <div class="date">
          <%= time_ago_in_words(project.created_at) +"前" %>
        </div>
      </div>
      <div class="extra text">
        <%= project.content.truncate(249) %>
      </div>
      <div class="extra text">
        <a class="ui horizontal yellow label"><%= project.lang1 %></a>
        <a class="ui horizontal yellow basic label"><%= project.lang2 %></a>
        <a class="ui horizontal yellow basic label"><%= project.lang3 %></a>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like pink icon"></i> <%= project.likes.count %>　
          <i class="unhide icon"></i> <%= project.pv %>　
          <i class="talk icon"></i> <%= project.comments.count %>
        </a>
      </div>
    </div>
  </div>
  <hr></hr>
</div>
  
  <% end %>
</p>