
  <% if page == 1 %>
      <div class="search">
        検索結果 <%= projects.count %> 件
      </div><br>
  <% end %>

  <% projects.each do |project| %>
    
  <div class="timeline">
    <span class="timeline_font_tt"><%= link_to "#{project.create_title.truncate(42)}", project %></span>
    <hr></hr>
    <span class="timeline_font_st"><%= project.content.truncate(249) %></span>
    <hr></hr>

    <div class="table_size">
    <table class="ui very basic table">
      <tbody>
        <tr>
          <td>募集人数: <%= project.capacity%></td>
          <td>期間: <%= project.period %></td>
          <td>募集職種: <%= project.job_first %></td>
          <td><%= time_ago_in_words(project.created_at) +"前" %></td>
        </tr>
      </tbody>
    </table>
    </div><br>

    <hr></hr>

    <div class="timeline_icon">
      <%= link_to project.user, class: "" do %>
        <%= image_tag(project.user.gravatar_url, :size => "25x25", :class => "ui avatar image") %>
        <span class="my_name"><%= project.user.user_name %></span>
      <% end %>
    </div>
    
  </div>
  
  <% end %>
</p>