
<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      
      <!--左サイド-->
      <h3 style="text-align:center;"><i class="users icon"></i>ユーザーランキング</h3>
      <div class="ui segments">
        <div class="ui segment">
          <p>Top</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Bottom</p>
        </div>
      </div>
    </div>
    
    <!--フィード-->
    <div class="ten wide column">
      <%= render "shares/main", projects: projects, page: page %>
    </div>
    
    <!--右サイド-->
    <div class="three wide column">
      <div class="ui segments">
          <% if page == 3 %>
            <div class="ui segment tertiary">
              <p><i class="line chart icon"></i>　<%= link_to "急上昇", sudden_path %></p>
            </div>
          <% else %>
            <div class="ui segment">
              <p><i class="line chart icon"></i>　<%= link_to "急上昇", sudden_path %></p>
            </div>
          <% end %>
        <div class="ui red segment">
          <p><i class="user icon"></i>　<%= link_to "募集中", wanted_path %></p>
        </div>
        <div class="ui blue segment">
          <p><i class="users icon"></i>　<%= link_to "進行中", doing_path %></p>
        </div>
      </div>

      <h3><i class="rocket icon"></i>人気の言語</h3>
      <hr></hr>
      
      <div class="popular_lang word-break">
        a
      </div>
      
    </div>
  </div>
</div>
