<table class="ui celled striped table">
  <thead>
    <tr><th colspan="3">
      <%= @user.user_name %>
    </th>
  </tr></thead>
  <tbody>
    <tr>
      <td class="single line">
        <i class="folder icon"></i> 年齢
      </td>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <td class="single line">
        <i class="folder icon"></i> ソーシャルスタイル
      </td>
      <td><%= @user.socialstyle %></td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> ランク
      </td>
      <td><%= @user.rank %></td>
    </tr>
    <tr>
      <td>
        <i class="folder link icon"></i> 外部リンク
      </td>
      <td>
        
        <% if !@user.facebook.blank? %>
            <a href="<%= @user.facebook %>" target="_blank"><i class="facebook icon"></i></a>
        <% end %>
        
        <% if !@user.twitter.blank? %>
            <a href="<%= @user.twitter %>" target="_blank"><i class="twitter icon"></i></a>
        <% end %>
        
        <% if !@user.qiita.blank? %>
            <a href="<%= @user.qiita %>" target="_blank"><i class="qiita icon"></i></a>
        <% end %>
        
        <% if !@user.teratail.blank? %>
            <a href="<%= @user.teratail %>" target="_blank"><i class="teratail icon"></i></a>
        <% end %>
        
        <% if !@user.git.blank? %>
            <a href="<%= @user.git %>" target="_blank"><i class="github icon"></i></a>
        <% end %>
        
        <% if !@user.blog.blank? %>
            <a href="<%= @user.blog %>" target="_blank"><i class="wordpress icon"></i></a>
        <% end %>
       
       </td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> 居住地
      </td>
      <td  class="word-break"><%= @user.address %></td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> プロフィール
      </td>
      <td class="word-break"><%= @user.profile %></td>
    </tr>
  </tbody>
</table>

<div class="five ui buttons">
  
  
 <!--アクションと一致したプロフィールバーの色を変更する。-->
 <% if controller.action_name == "show" %>
   <%= link_to @user, class: "ui green button" do %>
        <i class="write square icon"></i>
        <span>プロジェクト</span>
   <% end %>
 <% else %>
   <%= link_to @user, class: "ui green basic button" do %>
        <i class="write square icon"></i>
        <span>プロジェクト</span>
   <% end %>
 <% end %>
 
 <% if controller.action_name == "show_recruit" %>
   <%= link_to show_recruit_user_path, class: "ui green button" do %>
        <i class="address book icon"></i>
        <span>採用</span>
   <% end %>
 <% else %>
   <%= link_to show_recruit_user_path, class: "ui green basic button" do %>
        <i class="address book icon"></i>
        <span>採用</span>
   <% end %>
 <% end %>
 
 <% if controller.action_name == "show_entry" %>
   <%= link_to show_entry_user_path, class: "ui green button" do %>
        <i class="mail icon"></i>
        <span>応募</span>
   <% end %>
 <% else %>
   <%= link_to show_entry_user_path, class: "ui green basic button" do %>
        <i class="mail icon"></i>
        <span>応募</span>
   <% end %>
 <% end %>

 <% if controller.action_name == "show_member" %>
   <%= link_to show_member_user_path, class: "ui green button" do %>
        <i class="users icon"></i>
        <span>メンバー</span>
   <% end %>
 <% else %>
   <%= link_to show_member_user_path, class: "ui green basic button" do %>
        <i class="users icon"></i>
        <span>メンバー</span>
   <% end %>
 <% end %>
 
 <% if controller.action_name == "show_pick" %>
   <%= link_to show_pick_user_path, class: "ui green button" do %>
        <i class="hand lizard icon"></i>
        <span>ピック</span>
   <% end %>
 <% else %>
   <%= link_to show_pick_user_path, class: "ui green basic button" do %>
        <i class="hand lizard icon"></i>
        <span>ピック</span>
   <% end %>
 <% end %>


</div>

<br><br>