

<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      <%= link_to 'プロフィール変更', edit_user_registration_path, class: :"fluid ui brown button" %>
    </div>
    <div class="ten wide column">
    <%= render 'users/profile' %>
    <table>
      <tr>
        <td>作りたいもの</td>
        <td>照会</td>
        <td>編集</td>
        <td>削除</td>
      </tr>
      <% @projects.each do |p| %>
      <tr>
        <td><%= p.create_title %></td>
    
        <td><%= link_to '詳しく見る', project_path(p) %></td>
    
      <!-- 自分で投稿したものにしか編集・削除できない -->
        <% if p.user_id == current_user.id %>
          <td><%= link_to '編集',     edit_project_path(p) %></td>
          <td><%= link_to '削除', project_path(p),
                       method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
</div>
