
<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      <img>
    </div>
    <div class="ten wide column">

      <% @projects.each do |project| %>
        
      <div class="timeline">
        <span class="timeline_font_tt"><%= link_to "#{project.create_title.truncate(42)}", project %></span>
        <hr></hr>
        <span class="timeline_font_st"><%= project.content.truncate(249) %></span>
        <hr></hr>

        <div class="table_size">
        <table class="ui very basic table">
          <tbody>
            <tr>
              <td>募集人数: <%= project.capacity%></td>
              <td>期間: <%= project.period %></td>
              <td>募集職種: <%= project.wanted_jobs %></td>
              <td><%= time_ago_in_words(project.created_at) +"前" %></td>
            </tr>
          </tbody>
        </table>
        </div><br>

        <hr></hr>

        <div class="timeline_icon">
          <%= link_to project.user, class: "" do %>
            <%= image_tag(project.user.gravatar_url, :size => "25x25", :class => "ui avatar image") %>
            <span class="my_name"><%= project.user.user_name %></span>
          <% end %>
        </div>
        
      </div>
      
      <% end %>
      </p>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
</div>
