



<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column">


      <%= form_for(@contact, :url => contact_thanks_path, html: {class: 'ui form'}) do |f| %>     
        <% if @contact.errors.any? %>
          <div class="ui red message">
            <strong>入力内容にエラーがあります</strong>
            <ul>
              <% @contact.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
           
      <p>
        <h1>名前（必須）</h1>
        <%= f.hidden_field :name %>
        <%= @contact.name %>
      </p>
      
      <p>
        <h1>メールアドレス（必須）</h1>
        <%= f.hidden_field :email %>
        <%= @contact.email %>
      </p>
      
      <p>
        <h1>お問い合わせ内容</h1>
        <%= f.hidden_field :message %>
        <%= simple_format(@contact.message) %>
      </p>

      <%= f.submit "送信", class: :"ui submit button" %>
      <% end %>


    </div>
    <div class="column"></div>
  </div>
</div>