<h1>募集一覧</h1>
<p>
  <%= link_to '作成', new_recruit_path %>
</p>
<table>
  <th>作成者</th>
  <th>作りたいもの</th>
  <th>期間</th>
  <th>募集人数</th>
<% @recruits.each do |recruit| %>
  <td><%= recruit.user.user_name %></td>
  <td><%= recruit.create_title%></td>
  <td><%= recruit.period %></td>
  <td><%= recruit.people %></td>

  <td><%= link_to '詳しく見てみる', recruits_path(recruit) %></td>
<% end %>
</table>
