<h1>募集一覧</h1>
<p>
  <%= link_to '作成', new_recruit_path %>
</p>
<table>
  <tr>
    <th>作成者</th>
    <th>作りたいもの</th>
  <!-- <th>期間</th> -->
    <th>照会</th>
  </tr>
<% @recruits.each do |recruit| %>
  <tr>
    <td><%= recruit.user.user_name %></td>
    <td><%= recruit.create_title%></td>
  <!-- <td><%= recruit.period %></td> -->
    <td><%= link_to '詳しく見てみる', recruit_path(recruit) %></td>
  </tr>

<% end %>
</table>
