<div class="ui segment">
  <h3 class="ui right aligned header">
         <%= link_to 'Home', root_path %>
         <% if user_signed_in? %>

        <%= link_to current_user, class: "" do %>
          <%= image_tag(current_user.gravatar_url, :size => "25x25", :class => "ui avatar image") %>
          <span class="my_name"><%= current_user.user_name %></span>
        <% end %>
         
         <!-- <%= link_to 'プロフィール変更', edit_user_registration_path %> -->
         <%= link_to '作成', new_project_path, class: :"ui green submit button" %>
         <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

     <% else %>
         <%= link_to 'サインアップ', new_user_registration_path %>
         <%= link_to 'ログイン', new_user_session_path %>
         <% end %>
  </h3>
</div>