 <% if user_signed_in? %>

    <!-- 上部ナビゲーションメニュー -->
    <div class="ui fixed menu" style="background-color: #2f4f4f;">
      <div class="menu">
        <div id="js-sidebar" class="item">
        <i class="icon large grey content"></i></div>
      </div>
        <div class="ui form header_title">
          <div class="inline fields header_content">
            <div class="ten wide field">

                  <!-- 検索ボックス -->
                  <%= render 'projects/search' %>
            </div>
             <%= link_to 'Home', root_path, class: :"ui item h_100", style: :"color: white;" %>

             <%= link_to new_project_path, class: "item h_100" do %>
                  <i class="write icon"  style="color: white;"></i>
                  <span class="my_name" style="color: white;">募集する</span>
             <% end %>

             <%= link_to current_user, class: "item h_100" do %>
                  <%= image_tag(current_user.gravatar_url, :size => "15x15", :class => "ui avatar image") %>
                  <span class="my_name" style="color: white;"><%= current_user.user_name %></span>
             <% end %>

            </div>
          </div>
        </div>

    </div>
    <br><br><br><br>

    <!-- サイドバーメニュー -->
    <div class="ui sidebar inverted vertical menu">
     <%= link_to current_user, class: "item" do %>
          <%= image_tag(current_user.gravatar_url, :size => "25x25", :class => "ui avatar image") %>
          <span class="my_name"><%= current_user.user_name %></span>
     <% end %>

     <%= link_to 'Home', root_path, class: :"item" %>

     <%= link_to '募集する', new_project_path, class: :"item" %>

     <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :"item" %>
    </div>

 <% else %>
    <div class="ui segment" style="background-color: #2f4f4f;">
      <h3 class="ui right aligned header">
         <%= link_to 'Home', root_path, class: :"ui inverted basic button" %>
         <%= link_to 'サインアップ', new_user_registration_path, class: :"ui inverted basic button" %>
         <%= link_to 'ログイン', new_user_session_path, class: :"ui inverted basic button" %>
      </h3>
    </div>
 <% end %>



<!-- サイドバーの開閉処理 -->
<script>
  $('#js-sidebar').click(function() {
    $('.ui.sidebar').sidebar('toggle');
  });
</script>
