 <% if user_signed_in? %>

    <!-- 上部ナビゲーションメニュー -->
    <div class="ui fixed menu" style="background-color: #2f4f4f;">
      <div class="menu">
        <div id="js-sidebar" class="item">
        <i class="icon large grey content"></i></div>
      </div>


        <div class="ui form header_title">
          <div class="inline fields header_content">
            <div class="ten wide field">
                     <%= search_form_for @q do |f| %>
                       <div class="inline"><%= f.search_field :create_title_or_content_cont %></div>
                       <%= f.hidden_field :search, :value => 1 %>
                       <div class="inline"><%= f.submit "検索", class: :"ui submit button" %></div>
                     <% end %>
            </div>
             <%= link_to 'Home', root_path, class: :"ui item h_100", style: :"color: white;" %>

             
             <!--お知らせ-->
             <div class="ui dropdown">
              <div class="default text"><i class="alarm icon"  style="color: white;"></i></div>
              <div class="menu">
                <div class="item" data-value="a">
                    
                    <div class="ui feed">
                      <% @new_apps.each do |new_app| %>
                        <% if new_app.project.user_id == current_user.id %>
                            <hr></hr>
                              <div class="event item">

                                 <!--お知らせユーザーアイコン-->
                                 <%= link_to new_app.user, class: "ui avatar image" do %>
                                      <%= image_tag(new_app.user.gravatar_url, :size => "15x15", :class => "ui avatar image") %>
                                 <% end %>
                                 

                                <!--お知らせ内容-->
                                <div class="content" style="font-size: 10px;">
                                  <div class="date">
                                    <label class="ui red horizontal label">New!</label>
                                    <%= time_ago_in_words(new_app.project.created_at) +"前"%>
                                  </div>
                                  <div class="summary">
                                     <%= link_to "#{new_app.user.user_name}",  new_app.user %> さんが
                                     <%= link_to "#{new_app.project.create_title.truncate(10)}",  new_app.project %> に応募しました。
                                  </div>
                                </div>
                                
                              </div>
                          <% end %>
                      <% end %>
                    </div>
            
                </div>
              </div>
             </div>
             
        

             <%= link_to new_project_path, class: "item h_100" do %>
                  <i class="write icon"  style="color: white;"></i>
                  <span class="my_name" style="color: white;">募集する</span>
             <% end %>
             
             <%= link_to current_user, class: "item h_100" do %>
                  <%= image_tag(current_user.gravatar_url, :size => "15x15", :class => "ui avatar image") %>
                  <span class="my_name" style="color: white;"><%= current_user.user_name %></span>
             <% end %>

            </div>
          </div>
        </div>
        
    </div>
    <br><br><br><br>

    <!-- サイドバーメニュー -->
    <div class="ui sidebar inverted vertical menu">

     <%= link_to current_user, class: "item" do %>
          <%= image_tag(current_user.gravatar_url, :size => "25x25", :class => "ui avatar image") %>
          <span class="my_name"><%= current_user.user_name %></span>
     <% end %>
     
     <%= link_to 'Home', root_path, class: :"item" %>
        
     <%= link_to '募集する', new_project_path, class: :"item" %>

     <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :"item" %>
    </div>

 <% else %>
    <div class="ui segment" style="background-color: #2f4f4f;">
      <h3 class="ui right aligned header">
         <%= link_to 'Home', root_path, class: :"ui inverted basic button" %>
         <%= link_to 'サインアップ', new_user_registration_path, class: :"ui inverted basic button" %>
         <%= link_to 'ログイン', new_user_session_path, class: :"ui inverted basic button" %>
      </h3>
    </div>
 <% end %>


    
<!-- サイドバーの開閉処理 -->
<script>
  $('#js-sidebar').click(function() {
    $('.ui.sidebar').sidebar('toggle');
  });
$('.ui.dropdown')
  .dropdown()
;
</script>