<!DOCTYPE html>
<html>
  <head>
    <title>Giruginia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <% if !notice.nil? %>
    <div class="ui olive message">
      <%= notice %>
    </div>
    <% end %>
    
    <% if !alert.nil? %>
    <div class="ui red message">
      <%= alert %>
    </div>
    <% end %>


    <div class="contents padding10">
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>


